#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
    /*used this for debugging border: 2px solid black;*/ 
}

#frmMenu {
    width: 600px;
    height: 200px;
    float: left;
    border: 2px solid limegreen;
}

#totalPRice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;

}

.right {
    width: 200px;
    height: 200px;
    float: left;
}

.middle {
    width: 200px;
    height: 200px; 
    float: left;

}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 240px;
    width: 100px;
    height: 40px;
    border: 2px solid limegreen;
    cursor: pointer;
    
}

h1{
    color: #0892d0;
    font-family: monospace;
    text-align: center;
}

h3 {
    color: #0892d0;
    font-family: monospace;
}

body {
    background-color: #ffb6c1;
}

div {
    color: #0892d0;
}