html {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: grey;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    text-align: center;
    background-color: grey;
}

/* triggered when clicked or tabbed on */
    input:focus {
        outline: none;
    }

    li {
        text-align: left;
        font-size: 40px;
        list-style: none;
        margin: 0;
    }

footer {
    position: sticky;
    bottom: 0;
    border: 2px solid forestgreen;

}